<div class="container">
    <div class="verticalSpace list">
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let day of unSelectedDays; let i = index" >
                <div class='daylist unSelected' id="{{ 'day' + i }}" (click)="unSelectedDaysClick($event)">{{day}}</div>
            </mat-list-item>
          </mat-list>
    </div>
    <div class="verticalSpace buttonSelection">
      <button mat-raised-button (click)="toSelect()">&gt;</button>
      <button mat-raised-button (click)="toDeSelect()">&lt;</button>
      <button mat-raised-button  (click)="toAllSelect()">&gt;&gt;</button>
      <button mat-raised-button  (click)="toAllDeSelect()">&lt;&lt;</button>
    </div>
    <div class="verticalSpace list ">
       <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let day of daysSelected; let i = index">
              <div class='daylist selected' id="{{ 'selectedDay' + i }}" (click)="selectedDaysClick($event)">{{day}}</div>
          </mat-list-item>
        </mat-list>
    </div>
</div>

