@import "../../assets/styles/_mixins.scss";
.container{

    // display: inline-flex;
    // margin: auto;
    // text-align:center;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(center);
    .list {
       border: solid 1px #9E9E9E;
       @include flexbox();
     }
    
     .verticalSpace {
        min-height: 345px;
        min-width: 8em !important;   
    }
    .buttonSelection {
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(space-evenly);
    
    }
    // .buttonSelection button {
    //     height: 35px;
    //     width: 30px;
    //     margin-bottom: 20px;
    //     margin-top: 23px;
    // }
    mat-list, mat-list-item{
        width: 100%;
    }
 }
 .selectedDay{
     background-color: blue;
 }
 .daylist{
    cursor: pointer
 }
 

 